/* 顶部广告 start */
.header {
    width: 100%;
    height: 80px;
    position: relative;
    background-color: #ff6700;
}

.header img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 80px;
}

.header i {
    position: absolute;
    top: 8px;
    right: 378px;
    width: 16px;
    height: 16px;
    background: 50%/contain url(https://img11.360buyimg.com/imagetools/jfs/t1/50034/27/23224/677/6401b0f1F4f7092c7/70395613b0c31fe6.png) no-repeat;
    cursor: pointer
}

/* 顶部广告 end */

/* 顶部导航  start */
.black-nav {
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #333;
    font-size: 12px;
}

.wrap {
    width: 1226px;
    margin: 0 auto;
}

.black-nav .wrap .black-nav-left {
    float: left;
}

.black-nav .wrap .black-nav-right {
    float: right;
}

.black-nav .wrap li {
    float: left;
    position: relative;
}

.black-nav a {
    color: #b0b0b0;
}

.black-nav a:hover {
    color: #fff;
}

.black-nav .wrap li span {
    color: #424242;
    margin: 0 3.6px;
}

/* 消息通知 */
.black-nav-right .message {
    padding: 0 10px;
}

.download {
    width: 124px;
    height: 0px;
    background: #fff;
    box-shadow: 0 1px 5px #aaa;
    position: relative;
    top: 0px;
    left: 50%;
    margin-left: -62px;
    overflow: hidden;
    transition: all .3s;
}

.black-nav-left li:hover>.download {
    height: 148px;
    transform: translateY(0);
    z-index: 999;
}

.download img {
    display: block;
    width: 90px;
    margin: 18px auto 12px;
}

.download p {
    display: table;
    color: #333;
    font-size: 16px;
    line-height: 14px;
    margin: 0 auto;
}



/* 下载app小三角 */
.stri {
    width: 0;
    height: 0;
    border-bottom: 8px solid #fff;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -8px;
    display: none;
}

.black-nav-left>li:hover>.stri {
    display: block;
    top: 32px;
}

/* 购物车 */
.black-nav-right .cart {
    position: relative;
    width: 120px;
    height: 40px;
    margin-left: 15px;
    transition: all .2s;
    font-size: 12px;
}

.black-nav-right .cart a {
    position: relative;
    z-index: 32;
    display: block;
    height: 40px;
    color: #b0b0b0;
    background: #424242;
    line-height: 40px;
    text-align: center;
}

.black-nav .cart-mini .iconfont-cart {
    margin-right: 4px;
    font-size: 20px;
    line-height: 20px;
    vertical-align: -4px;
}

.cart:hover>a {
    color: #ff6700;
    background: #fff;
}

.cart-list {
    width: 316px;
    height: 0px;
    background: #fff;
    box-shadow: 0 2px 10px rgb(0, 0, 0, 0.15);
    position: absolute;
    right: 0px;
    top: 40px;
    color: #424242;
    overflow: hidden;
    line-height: 100px;
    transition: all .3s;
}

.cart:hover>.cart-list {
    height: 100px;
    z-index: 999;
}

/* 购物车中还没有商品，赶紧选购吧！ */
.centered-text {
    text-align: center;
}

/* 顶部导航  end */

.white-nav {
    width: 100%;
    height: 100px;
    background: #fff;
}

.white-nav .wrap {
    width: 1226px;
    height: 100px;
}

.log {
    width: 56px;
    height: 56px;
    float: left;
    margin-top: 22.5px;
}

.log img {
    height: 100%;
}

.nav-bar {
    width: 850px;
    height: 100px;
    line-height: 100px;
    float: left;
}

.search {
    position: relative;
    width: 296px;
    height: 100px;
    float: right;
    /* background: red; */
}

.nav-bar .nav-list {
    position: relative;
    z-index: 10;
    float: left;
    height: 100px;
    margin: 0;
    padding: 0px 0 0 30px;
    list-style-type: none;
    font-size: 16px;

}

.nav-bar .nav-category {
    position: relative;
    float: left;
    width: 127px;
    padding-right: 15px;
    height: 100px;
}

.nav-bar .link-category {
    padding: 27px 15px 40px;
    text-align: right;
    color: #333;
}

.nav-bar li {
    float: left;
}

.nav-bar li a {
    color: #000;
    padding: 26px 10px 38px;
}

.nav-bar li a:hover {
    color: #ff6700;
}

.search input {
    width: 245px;
    height: 50px;
    float: left;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    margin-top: 25px;
    padding: 0 10px;
    outline: none;
}

.search button {
    position: absolute;
    width: 52px;
    height: 50px;
    float: right;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    top: 25px;
}