/* PC 布局
1）浮动

*/

.header {
    width: 100%;
    height: 40px;
    background-color: #333;
    line-height: 40px;
    font-size: 12px;
}

.warp {
    width: 1226px;
    margin: 0 auto;
}

.back-nav-left,
.header li {
    float: left;
}


.back-nav-right {
    float: right;
}

.header li {
    position: relative;
}

.header a {
    color: #b0b0b0;
}

.header a:hover {
    color: #fff;
}

.header span {
    color: #424242;
    margin: 0 3.6px;
}

.cart {
    width: 120px;
    height: 40px;
    background-color: #424242;
    margin-left: 25px;
    cursor: pointer;
    /* 光标样式 */

}

.cart:hover {
    background-color: #fff;
}

.car i {
    font-size: 20px;
    margin-left: 4px;
}

.cart:hover>a {
    color: #ff6700;
}

.triangle {
    width: 0;
    height: 0;
    border-bottom: 8px solid #fff;
    border-left: 8px solid transparent;
    border-top: solid 8px transparent;
    border-right: solid 8px transparent;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -8px;
    display: none;
}

.header li:hover>.triangle,
.header li:hover>.code {
    display: block;
}

.code {
    width: 124px;
    height: 0px;
    background-color: #fff;
    box-shadow: 0 1px 5px #aaa;
    position: absolute;
    top: 40px;
    left: 50%;
    margin-left: -62px;
    overflow: hidden;
    transition: all .3s;
    z-index: 888;

}

.header li:hover>.code {
    height: 148px;
}

.code>img {
    width: 90px;
    margin: 18px 0 1px;
}

.code>p {
    color: #333;
    font-size: 14px;
    line-height: 14px;
}

.cart-list {
    width: 316px;
    height: 0;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    position: absolute;
    top: 40px;
    right: 0px;
    transition: all .3s;
    color: #424242;
    overflow: hidden;
    z-index: 88;
}

.cart:hover>.cart-list {
    height: 100px;
    line-height: 100px;
}


.white-nav {
    width: 100%;
    height: 100px;
    position: relative;
    background-color: #fff;
}

/* logo*/
.logo {
    width: 55px;
    height: 100px;
    float: left;
    /* background-color: #ff6700; */
}

.logo>a {
    display: block;
    width: 55px;
    height: 55px;
    background-image: url(../image/logo-mi2.png);
    /* 不加不显示图片 */
    background-size: 55px 55px;
    margin-top: 22.5px;

}

/* 导航 */
.nav-bar,
.nav-bar li {
    float: left;
    height: 100px;
}

.nav-bar {
    width: 850px;
    margin-left: 7px;
    margin-right: 18px;
    padding-left: 142px;
    box-sizing: border-box;
}

.nav-bar>ul>li>a {
    color: #333;
    padding: 38px 10px;
    display: block;
}

.nav-bar>ul>li>a:hover {
    color: #ff6700;
}

/* 导航下拉栏 */
.nav-list {
    width: 100%;
    height: 230px;
    display: none;
    background-color: #fff;
    position: absolute;
    top: 100px;
    left: 0%;
    border-top: 1px solid #e0e0e0;
    box-shadow: 0 3px 4px rgba(0, 0, 0, .18);
    z-index: 888;

}

.nav-bar li:hover>.nav-list {
    display: block;
}

.nav-list li {
    width: 204px;
    height: 201px;
    padding: 35px 12px 0;
    box-sizing: border-box;
    float: left;
}

.img-box {
    height: 110px;
    border-right: 1px solid #e0e0e0;
    margin-top: 16px;
}

.img-box1 {
    border-right: none;
}

.name1 {
    color: #333;
    font-size: 12px;
    line-height: 20px;
}

.price {
    color: #ff6700;
    font-size: 12px;
    line-height: 20px;
}

/* 搜索 */
.search {
    width: 296px;
    float: left;
    margin-top: 25px;
    position: relative;
    /* background-color: red; */
}

.search input {
    width: 244px;
    height: 50px;
    border: 1px solid #e0e0e0;
    padding: 0 10px;
    box-sizing: border-box;
    border-right: none;
    float: left;
    outline: none;
    transition: all .2s;
}


.search button {
    width: 52px;
    height: 50px;
    background-color: #fff;
    float: left;
    color: #616161;
    border: 1px solid #e0e0e0;
    font-size: 20px;
    transition: all .2s;
    cursor: pointer;
    outline: none;
}

.search input:hover,
.search input:hover+button {
    border-color: #b0b0b0;
}

.search input:focus,
.search input:focus~button {
    border-color: #ff6700;
}

/* 下拉列表 */
.hot-word-list {
    width: 245px;
    height: 300px;
    border: 1px solid #ff6700;
    box-sizing: border-box;
    position: absolute;
    top: 50px;
    left: 0px;
    border-top: none;
    background-color: #fff;
    z-index: 700;
    display: none;
}

.search input:focus~.hot-word-list {
    display: block;
}

.hot-word-list a {
    color: #424242;
    font-size: 12px;
}

.hot-word-list li {
    text-align: left;
    padding-left: 10px;
    height: 30px;
    line-height: 30px;
}

.hot-word {
    height: 50px;
    line-height: 50px;
    position: absolute;
    top: 0;
    right: 62px;
    text-align: right;
}

.hot-word>a {
    color: #757575;
    background-color: #eee;
    font-size: 12px;
    padding: 0 5px;
    margin-left: 5px;
    transition: all .2s;
}

.hot-word>a:hover {
    color: #fff;
    background-color: #ff6700;
}

.search input:focus~.hot-word {
    display: none;
}

/* Banner */
.carousel,
.carousel-box {
    width: 100%;
    height: 460px;
}

.carousel-box {
    background-image: url(../image/793eebbee1dd569fe56a8aaf58f62452.jpg);
    background-size: 100%;
    animation: carousel 15s linear infinite;
}

/* 放上去暂停动画 */
.carousel-box:hover {
    animation-play-state: paused;
}

@keyframes carousel {
    0% {
        background-image: url(../image/793eebbee1dd569fe56a8aaf58f62452.jpg);
    }

    50% {
        background-image: url(../image/1c3e97686468231f3f78048d7f2b7fdc.webp);
    }

    100% {
        background-image: url(../image/f22bf70c4dc00ab1ed9b3d71125534f7.webp);
    }
}

.slide {
    width: 234px;
    height: 420px;
    background-color: rgba(105, 101, 101, .6);
    padding: 20px 0;
    position: relative;
}

.slide>ul>li {
    height: 42px;
    line-height: 42px;
    padding-left: 30px;
    text-align: left;
}

.slide>ul>li:hover {
    background-color: #ff6700;
}

.slide>ul>li>a {
    font-size: 14px;
    color: #fff;
}

.slide i {
    float: right;
    margin-right: 20px;
    color: #e0e0e0;
    font-weight: bold;
    font-size: 12px;
}

.slide-list {
    width: 992px;
    height: 460px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-left: none;
    box-shadow: 0 8px 16px rgba(0, 0, 0, .18);
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 234px;
    display: none;
    padding: 2px 0;

}

.slide li:hover>.slide-list {
    display: block;
}

.slide-list1 {
    width: 497px;
}

/* 广告 */
.ad {
    width: 100%;
    height: 170px;
    margin: 14px 0 26px;
}

.ad-aside {
    width: 234px;
    height: 170px;
    background-color: #504943;
    padding: 3px;
    box-sizing: border-box;
    float: left;
}

.ad-img {
    width: 316px;
    height: 170px;
    float: left;
    margin-left: 14.66px;
    transition: all .2s linear;
}

.ad-img img {
    width: 100%;
}

.ad-img:hover {
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

.ad-aside li {
    float: left;
    width: 76px;
    height: 82px;
    padding: 16px 0;
    box-sizing: border-box;
    position: relative;
}

.ad-aside a {
    color: #fff;
    font-size: 12px;
    opacity: .7;
    display: block;
    transform: all .2s;
}

.ad-aside a:hover {
    opacity: 1;
}

.ad-aside i {
    margin-bottom: 13px;
    font-size: 24px;
    display: block;
}

.global-img {
    float: left;
    width: 100%;
    margin-top: 40px;
}

/* 边框 */
.row::before,
.col::after {
    content: "";
    display: block;
    background-color: #665e57;
    position: absolute;
}

.row::before {
    width: 64px;
    height: 1px;
    bottom: 0;
    left: 6px;
}

.col::after {
    width: 1px;
    height: 70px;
    right: 0;
    top: 6px;
}

/* 手机 */
.containner {
    width: 100%;
    background-color: #f5f5f5;
    padding: 4px 0 12px;
    overflow: hidden;
}

.phone-banner-box {
    width: 100%;
    height: 120px;
    margin: 22px 0;
}

.title {
    color: #333;
    font-size: 22px;
    font-weight: 200;
    text-align: left;
}

.all {
    float: right;
    color: #424242;
    font-size: 16px;
}

.all:hover {
    color: #ff6700;
}

.all>i {
    display: inline-block;
    width: 12px;
    height: 12px;
    padding: 4px;
    background-color: #b0b0b0;
    border-radius: 50%;
    line-height: 12px;
    color: #fff;
    font-size: 24px;
    margin-left: 20px;
    transition: all .4s;

}

.all:hover>i {
    background-color: #ff6700;
}

.phone-box {
    width: 100%;
    height: 614px;
    clear: both;
}

.phone-box-left {
    width: 234px;
    height: 614px;
    float: left;
    transition: all .2s linear;
}

.phone-box-right {
    width: 992px;
    height: 614px;
    float: left;
}

.item {
    width: 234px;
    height: 300px;
    background-color: #fff;
    float: left;
    margin-bottom: 14px;
    margin-left: 14px;
    transition: all .2s linear;
}

.items-img {
    width: 160px;
    margin-top: 20px;
    margin-bottom: 18px;
}

.name2,
.desc2 {
    width: 241px;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.name2 {
    height: 21px;
    line-height: 21px;
    font-size: 14px;
    margin-bottom: 2px;
    color: #333;
}

.desc2 {
    height: 18px;
    line-height: 18px;
    font-size: 10px;
    color: #b0b0b0;
    margin-bottom: 10px;
}

.price2 {
    color: #ff6700;
    font-size: 14px;
}

.price2>del {
    color: #b0b0b0;
    margin-left: 7px;
}

.item:hover,
.phone .phone-box-left:hover,
.last-items>div:hover,
.video-items:hover {
    transform: translateY(-2px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, .5);
}

.phone-box-left .item {
    margin-left: 0;
}

.last-items {
    width: 234px;
    height: 300px;
    float: left;
    margin-left: 14px;
}

.last-items>div {
    width: 234px;
    height: 143px;
    background-color: #fff;
    transition: all .2s linear;
}

.last-items>div:first-child {
    margin-bottom: 14px;
}

.item-text {
    width: 94px;
    float: left;
    margin-left: 30px;
    margin-top: 40px;
    text-align: left;
    font-size: 14px;
    color: #333;
}

.item-text>p:nth-child(2) {
    font-size: 12px;
    color: #b0b0b0;
    margin-top: 5px;
}

.last-items img {
    float: right;
    width: 80px;
    margin: 32px 20px 0 0;
}

.video-box {
    width: 100%;
}

.video-items {
    width: 298px;
    height: 285px;
    background-color: #fff;
    float: left;
    margin-bottom: 14px;
    margin-right: 10px;
    transition: all .2s linear;
}

.video-items:last-child {
    margin-right: 0%;
    /* background-color: #ff6700; */
}

.video-img {
    position: relative;
    width: 100%;
    height: 180px;
}

.video-items p {
    width: 268px;
    height: 21px;
    margin: 28px auto 6px;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.play {
    position: absolute;
    left: 20px;
    bottom: 10px;
    width: 32px;
    height: 20px;
    border: 2px solid #fff;
    border-radius: 12px;
    transition: all .2s;
}

.play>span {
    display: block;
    width: 0;
    height: 0;
    border-left: 8px solid #fff;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    margin: 4px auto;
}

.video-img:hover>.play {
    background-color: #ff6700;
    border-color: #ff6700;
}

.site-footer {
    width: 100%;
    height: 332px;
    background-color: #fff;
}

.footer-service {
    width: 100%;
    height: 25px;
    padding: 27px 0;
    border-bottom: 1px solid #e0e0e0;

}

.footer-service li {
    float: left;
    width: 19.8%;
    height: 25px;
    line-height: 25px;
    border-right: 1px solid #e0e0e0;

}

.footer-service li:last-child {
    border-right: none;
}

.footer-service a {
    color: #616161;
    transition: all .2s;
    position: relative;
}

.footer-service a:hover {
    color: #ff6700;
}

.footer-service i {
    font-size: 24px;
    margin-right: 6px;
    margin-top: 5px;
}

.footer-service span {
    font-size: 20px;
}

.footer-links {
    width: 100%;
    height: 172px;
    padding: 40px 0;
    font-size: 14px;
    color: #424242;
}

.footer-links ul {
    float: left;
    width: 160px;
    text-align: left;
}

.footer-links a {
    color: #757575;
    font-size: 12px;
}

.footer-links a:hover {
    color: #ff6700;
}

.footer-links li {
    height: 18px;
    line-height: 18px;
    margin-top: 10px;
}

.footer-links li:first-child {
    height: 17px;
    line-height: 17.5px;
    margin: -1px 0 26px;
}

.contact {
    float: right;
    width: 251px;
    height: 111px;
    border-left: 1px solid #e0e0e0;
}

.tel {
    color: #ff6700;
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 5px;
}

.time {
    color: #616161;
    font-size: 12px;
    margin-bottom: 5px;
}

.contact .kefu {
    margin: 0 auto;
    width: 118px;
    height: 28px;
    border: 1px solid #ff6700;
    display: block;
    color: #ff6700;
    line-height: 28px;
    font-size: 12px;
    transition: all .2s;
}

.contact .kefu:hover {
    background-color: #ff6700;
    color: #fff;
}

.follow {
    position: relative;
    margin-top: 10px;
    font-size: 12px;
    color: #616161;
}

.follow>span {
    position: relative;
    top: 7px;
    width: 24px;
    height: 24px;
    display: inline-block;
    background-size: 100%;
}

.wb {
    background-image: url(../image/wb.png);
}

.wb:hover {
    background-image: url(../image/wb@2x.png);
}

.wx {
    background-image: url(../image/wx.png);
}

.wx:hover {
    background-image: url(../image/wx@2x.png);
}

.wx-img {
    display: none;
    width: 126px;
    position: absolute;
    top: 35px;
    left: 100px;
}

.wx:hover~.wx-img {
    display: block;
}

.footer-logo {
    width: 56px;
    height: 56px;
    margin-right: 20px;
    float: left;
}

.footer-logo>img {
    width: 100%;
}

.site-info {
    width: 100%;
    height: 25px;
    padding: 27px 0;

}

.sites {
    float: left;
    width: 1150px;
    font-size: 12px;
    text-align: left;
    line-height: 18px;

}

.sites>p:first-child>a {
    color: #757575;
}

.sites>P {
    color: #b0b0b0;
}

.sites>p:nth-child(2)>a {
    color: #b0b0b0;
}

.sites>p>a:hover {
    color: #ff6700;
}

.sites img {
    height: 28px;
    float: left;
}

.change {
    height: 28px;
    float: left;
    width: 75px;
    margin-left: 5px;
    background-image: url(../image/f1ee261b96ae71e845efba398efeca02.png);
    background-size: 100%;
    animation: cc 5s steps(1) infinite;

}

/* 放上去暂停动画 */
.change:hover {
    animation-play-state: paused;
}

@keyframes cc {
    0% {
        background-image: url(../image/f1ee261b96ae71e845efba398efeca02.png);
    }

    50% {
        background-image: url(../image/53e5ecffbb5c090255861e5692f1ae6d.png);
    }

}

.slogan {
    margin-top: 30px;
}